@import url('https://rsms.me/inter/inter.css');

html, body, h2, h1, h3, p, span [class*="css"] {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 1.8rem;
}

[data-testid="stHeader"] {
    visibility: hidden;
}

.block-container {
    padding-top: 1rem;
    max-width: 66rem;
}

hr {
    margin-top: 1em;
}

/* Style mini logo */
.logo {
    display: block;
    margin-left: 0;
    width: 34px;
}

.logo-name {
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 15px;
}

.page-title {
    text-align: center;
}

